extends layout

block content
  .row.banner
    .col-12
      h1= title

  .row
    .col-12.col-lg-8
      p
        |<h2> Welcome to blood bank site which is a facility that collects, tests, processes, and stores blood for medical use, particularly for transfusions. It gathers blood from voluntary donors and conducts thorough testing to screen for infections and determine blood types. The collected blood is then processed into its components—such as red blood cells, plasma, and platelets—and stored under controlled conditions until needed.</h2>
<br/><br/>