extends layout

block content
  .row.banner
    .col-12
      h1 Sanjeevini Blood Bank
  
  .row
    .col-12.col-lg-9
      .row
        .col-12.col-md-6
          p.rating
            i.fas.fa-star
            i.fas.fa-star
            i.fas.fa-star
            i.far.fa-star
            i.far.fa-star
          p 1-1-79/A, Bhagyanagar Complex, RTC X Rd, near Sri Mayuri Theatre
          
          .card.card-primary
            .card-block
              h2.card-title Opening hours
              p.card-text Monday - Friday : 7:00am - 11:00pm
              p.card-text Saturday : 8:00am - 11:00pm
              p.card-text Sunday : 8:00 - 11:00pm

          .card.card-primary
            .card-block
              h2.card-title Facilities
              span.badge.badge-warning
                i.fa.fa-check
                | &nbsp;A+,A-
              | &nbsp;
              span.badge.badge-warning
                i.fa.fa-check
                | &nbsp;B+,B-
              | &nbsp;
              span.badge.badge-warning
                i.fa.fa-check
                | &nbsp;O+,O-
              | &nbsp;

        .col-12.col-md-6.location-map
          .card.card-primary
            .card-block
              h2.card-title Location map 
              <a href="https://www.google.com/maps/@17.442966,78.661608,14z?entry=ttu&g_ep=EgoyMDI0MDgyMy4wIKXMDSoASAFQAw%3D%3D" target="_blank">
              Location <br> <img src="stylesheets/images.jpeg" alt="Location Map"class="img-fluid">
        </a>
      .col-12
        .card.card-primary.review-card
          .card-block
            a.btn.btn-primary.float-right(href='/location/review/new')
              | Add review
            h2.card-title Customer reviews
            
            .row.review
              .col-12.no-gutters.review-header
                span.rating
                  i.fas.fa-star
                  i.fas.fa-star
                  i.fas.fa-star
                  i.far.fa-star
                  i.far.fa-star
                span.reviewAuthor harsha,
                small.reviewTimestamp 22 July 2024
              .col-12
                p Good staff.

            .row.review
              .col-12.no-gutters.review-header
                span.rating
                  i.fas.fa-star
                  i.fas.fa-star
                  i.fas.fa-star
                  i.far.fa-star
                  i.far.fa-star
                span.reviewAuthor sankar,
                small.reviewTimestamp 30 February 2024
              .col-12
                p All types of blood groups available with good staff.
    
    .col-12.col-lg-3
      p.lead
        |<h4><p style="color: white;">Welcome to A blood bank is a center where blood gathered as a result of blood donation is stored and preserved for later use in blood transfusion. The term "blood bank" typically refers to a department of a hospital usually within a clinical pathology laboratory where the storage of blood product occurs and where pre-transfusion and blood compatibility testing is performed.</p>

</h4>